.container{
    width: 300px;
    height: 600px;
    background-color: gainsboro;
}
.box{
    width: 100px;
    height: 100px;

}
.red{
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
    /* right: 100px; */
}
.green{
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

}
.blue{
    background-color: blue;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;



}
.purple{
   background-color: purple; 
   position: sticky;
   top: 50px;

}
.spacer{
    height: 300vh;

}